# Limpieza de datos

La mayoría de la gente piensa que ser científico de datos significa estar corriendo modelos avanzados de Machine Learning todo el tiempo. La realidad es muy distinta:

![Tiempo de un científico de datos](./img/datascientist_time.jpeg)

La gran mayoría del tiempo se va **limpiando y organizando** los datos con los que queremos trabajar.

Los científicos de datos utilizamos herramientas como Pandas, Numpy, Matplotlib y Seaborn para limpiar los datos con los que queremos hacer algo.

## ETL

Un tipo de tarea que realizamos con gran frecuencia los científicos de datos son los **ETL**.

![Proceso de ETL](./img/etl.png)

ETL es un acrónimo que significa Extract, Transform, Load. Es un proceso que se utiliza para extraer datos de una fuente, transformarlos en un formato que sea adecuado para el análisis y cargarlos en una base de datos o algún otro sistema de almacenamiento.

## Ejemplo práctico

Los datos que usaremos para esta limpieza y nuestro siguiente análisis son datos de incidencia delictiva en nuestro país.

La iniciativa de datos abiertos del gobierno de México nos proporciona datos de incidencia delictiva desde 2015 hasta la fecha. Los datos se actualizan todos los meses y se pueden descargar desde el siguiente enlace: https://www.gob.mx/sesnsp/acciones-y-programas/datos-abiertos-de-incidencia-delictiva

---

Como podemos ver en el portal, se proporcionan los datos tanto a nivel estatal como a nivel municipal. En este caso, utilizaremos los datos a nivel estatal.

Descarguemos los datos y guardemos el archivo CSV en la carpeta data con el nombre `datos_delitos.csv`.

---

Ahora leamos el archivo CSV y veamos cómo se ven los datos.

Primero que nada, importemos pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/datos_delitos.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 1: invalid continuation byte

Aquí tenemos un error muy común que suele ocurrir cuando un archivo se guarda en una computadora con cierto "encoding". 

Un encoding es una tabla que relaciona un número con un carácter. Por ejemplo, en la tabla ASCII, el número 65 corresponde a la letra "A".

Si el archivo que estamos leyendo fue guardado con un encoding distinto al que pandas espera, nos arrojará un error. 

Para solucionar esto, podemos utilizar el parámetro `encoding` de la función `pd.read_csv()` y especificar el encoding correcto.

¿Pero cómo sabemos con qué encoding cuenta el archivo?

La realidad es que la gran mayoría de los archivos los encontrarán en encoding utf-8 y Pandas no va a dar ningún error. Aquí estamos teniendo este problema porque la computadora que utilizan para generar este archivo uso un encoding diferente a utf-8.

En México, por lo general, si un archivo no está en utf-8, lo más seguro es que esté en `ISO-8859-1` o `latin1`.

Intentemos cargar el archivo especificando el encoding `ISO-8859-1`.

In [3]:
df = pd.read_csv('data/datos_delitos.csv', encoding='ISO-8859-1')
df.head()

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,0,2,2,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,2,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Y vemos que ya podemos leer correctamente el archivo.


¿Existe alguna forma de verificar el encoding de un archivo sin tener que estar adivinando?

ChatGTP generó el siguiente código:

In [4]:
import chardet

def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        rawdata = f.read()
    result = chardet.detect(rawdata)
    return result

file_path = './data/datos_delitos.csv'
encoding_info = detect_encoding(file_path)
print(f"Detected encoding: {encoding_info['encoding']}")

Detected encoding: ISO-8859-1

Sigamos...

In [5]:
df.tail(3)

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
31357,2024,32,Zacatecas,Otros bienes jurídicos afectados (del fuero co...,Delitos cometidos por servidores públicos,Delitos cometidos por servidores públicos,Delitos cometidos por servidores públicos,20,22,34,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31358,2024,32,Zacatecas,Otros bienes jurídicos afectados (del fuero co...,Electorales,Electorales,Electorales,0,1,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31359,2024,32,Zacatecas,Otros bienes jurídicos afectados (del fuero co...,Otros delitos del Fuero Común,Otros delitos del Fuero Común,Otros delitos del Fuero Común,151,184,174,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31360 entries, 0 to 31359
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     31360 non-null  int64
 1   Clave_Ent               31360 non-null  int64
 2   Entidad                 31360 non-null  object
 3   Bien jurídico afectado  31360 non-null  object
 4   Tipo de delito          31360 non-null  object
 5   Subtipo de delito       31360 non-null  object
 6   Modalidad               31360 non-null  object
 7   Enero                   31360 non-null  int64
 8   Febrero                 31360 non-null  int64
 9   Marzo                   31360 non-null  int64
 10  Abril                   31360 non-null  int64
 11  Mayo                    28224 non-null  float64
 12  Junio                   28224 non-null  float64
 13  Julio                   28224 non-null  float64
 14  Agosto                  28224 non-null  float64
 15  Septiembre              28224 non-null  float64
 16  Octubre                 28224 non-null  float64
 17  Noviembre               28224 non-null  float64
 18  Diciembre               28224 non-null  float64
dtypes: float64(8), int64(6), object(5)
memory usage: 4.5+ MB

Bien. Están muy bien los datos. Sin embargo, tenemos un problema con el que es muy común encontrarnos. 

Resulta que el formato en el que está el archivo es fácil entender por seres humanos:


```markdown
| Año      | Entidad  | Enero    | Febrero  | Mes X    |
|----------|----------|----------|----------|----------|
|   ...    |   ...    |   ...    |   ...    |   ...    |
|   ...    |   ...    |   ...    |   ...    |   ...    |
|   ...    |   ...    |   ...    |   ...    |   ...    |
|   ...    |   ...    |   ...    |   ...    |   ...    |
|   ...    |   ...    |   ...    |   ...    |   ...    |
```

Vemos que tenemos los meses como encabezados. Es decir, el archivo está tratando cada mes como si fuera una variable. 

Nosotros como científicos de datos estamos más interesados en conjuntos de datos que no estén en este formato de "resumen" o "tabla dinámica". Para nosotros, lo ideal sería que cada mes fuera simplemente una observación más en nuestro conjunto de datos. Es decir, queremos transformar la tabla de arriba en:

```markdown
| Año      | Entidad  | Mes        |
|----------|----------|------------|
|   ...    |   ...    |   Enero    |
|   ...    |   ...    |   Febrero  |
|   ...    |   ...    |   Marzo    |
|   ...    |   ...    |   Abril    |
|   ...    |   ...    |   Mes X    |
```

A este tipo de formato le llamos "formato largo de datos".

Haremos las siguientes limpiezas:
* Transformar los nombres de las columnas para que no tengan caracteres especiales y estén siempre en minúsculas
* Convertir el dataset a un formato de datos "largo"

In [8]:
for col in df.columns:
    print(col)

Año
Clave_Ent
Entidad
Bien jurídico afectado
Tipo de delito
Subtipo de delito
Modalidad
Enero
Febrero
Marzo
Abril
Mayo
Junio
Julio
Agosto
Septiembre
Octubre
Noviembre
Diciembre

### Limpiar nombres de columnas

In [10]:
def limpiar_columnas(df):
    columnas_limnas = []
    for col in df.columns:
        # convertir a minusculas, reemplazar espacios por guiones bajos y eliminar caracteres especiales
        col = col.lower().replace(" ", "_").replace("ñ", "ni").replace(".", "").replace("á", "a").replace("í","i")
        columnas_limnas.append(col)
    
    df.columns = columnas_limnas
    
    return df

In [11]:
df.head(2)

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [12]:
df = limpiar_columnas(df)

In [13]:
df.head(3)

,anio,clave_ent,entidad,bien_juridico_afectado,tipo_de_delito,subtipo_de_delito,modalidad,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,0,2,2,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0

Muy bien. Ahora lo que queremos hacer es quitar algunas columnas. Nos interesan nada más las siguientes:

In [15]:
df[['anio', 'entidad']]

       anio         entidad
0      2015  Aguascalientes
1      2015  Aguascalientes
2      2015  Aguascalientes
3      2015  Aguascalientes
4      2015  Aguascalientes
...     ...             ...
31355  2024       Zacatecas
31356  2024       Zacatecas
31357  2024       Zacatecas
31358  2024       Zacatecas
31359  2024       Zacatecas

[31360 rows x 2 columns]

In [16]:
df = df[['anio', 'clave_ent', 'entidad', 'tipo_de_delito', 'subtipo_de_delito', 'modalidad','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']]
df.head(2)

,anio,clave_ent,entidad,tipo_de_delito,subtipo_de_delito,modalidad,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

### Formato largo de datos

Ahora, usaremos el método `melt` para convertir las columnas a observaciones.

Queremos convervar las coumnas:
* anio
* clave_ent
* entidad
* tipo_de_delito
* subtipo_de_delito
* modalidad

El resto de las columnas las vamos a juntar en una nueva columna llamada "nombre_mes" y sus valores los vamos a sumar en otra llamada "frecuencia"

In [17]:
print("Filas totales: ", df.shape[0])

Filas totales:  31360

In [18]:
datos_long = df.melt(id_vars=['anio', 'clave_ent', 'entidad','tipo_de_delito', 'subtipo_de_delito', 'modalidad'], var_name='nombre_mes', value_name='frecuencia')

In [19]:
print("Filas totales: ", datos_long.shape[0])

Filas totales:  376320

In [22]:
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,subtipo_de_delito,modalidad,nombre_mes,frecuencia
129622,2016,11,Guanajuato,Robo,Robo de ganado,Sin violencia,mayo,48.0
326608,2019,5,Coahuila de Zaragoza,Robo,Robo de maquinaria,"Robo de cables, tubos y otros objetos destinad...",noviembre,0.0
205150,2020,14,Jalisco,Violación equiparada,Violación equiparada,Violación equiparada,julio,0.0
97249,2016,1,Aguascalientes,Acoso sexual,Acoso sexual,Acoso sexual,abril,0.0
13306,2019,8,Chihuahua,Abuso de confianza,Abuso de confianza,Abuso de confianza,enero,72.0

In [23]:
datos_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376320 entries, 0 to 376319
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   anio               376320 non-null  int64
 1   clave_ent          376320 non-null  int64
 2   entidad            376320 non-null  object
 3   tipo_de_delito     376320 non-null  object
 4   subtipo_de_delito  376320 non-null  object
 5   modalidad          376320 non-null  object
 6   nombre_mes         376320 non-null  object
 7   frecuencia         351232 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 23.0+ MB

Supongamos que para este análisis, no nos importan los niveles subtipo de delito y modalidad. O sea, no queremos tener la distinción entre homicidios dolosos y culposos (sé que son bastante diferentes, pero simplifiquemos nuestro ejemplo).

Vamos a agrupar nuestro dataframe por anio, clave_ent, entidad, tipo_de_delito y nombre_mes. Esto hará que todos los tipos de homicidios se sumen al tipo "homicidio" o todos los tipos de robo de vehículo (con o sin violencia) se sumen a "robo de vehículo".

In [24]:
datos_long = datos_long.groupby(['anio', 'clave_ent', 'entidad', 'tipo_de_delito', 'nombre_mes'])['frecuencia'].sum().reset_index()

In [26]:
datos_long[datos_long.tipo_de_delito == 'Robo'].sample(15)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia
61354,2018,32,Zacatecas,Robo,octubre,639.0
114144,2022,14,Jalisco,Robo,abril,3668.0
96866,2021,10,Durango,Robo,diciembre,455.0
28715,2016,28,Tamaulipas,Robo,septiembre,1285.0
146794,2024,18,Nayarit,Robo,octubre,0.0
56066,2018,21,Puebla,Robo,diciembre,2552.0
95427,2021,7,Chiapas,Robo,enero,240.0
97344,2021,11,Guanajuato,Robo,abril,2487.0
140550,2024,5,Coahuila de Zaragoza,Robo,junio,0.0
117024,2022,20,Oaxaca,Robo,abril,929.0
145835,2024,16,Michoacán de Ocampo,Robo,septiembre,0.0
106468,2021,30,Veracruz de Ignacio de la Llave,Robo,febrero,1806.0
126148,2023,7,Chiapas,Robo,febrero,200.0
77186,2020,1,Aguascalientes,Robo,diciembre,873.0
112707,2022,11,Guanajuato,Robo,enero,2636.0

Mostremos todos los estados y su respectiva clave

In [30]:
datos_long[['clave_ent', 'entidad']].drop_duplicates().sort_values('entidad')

       clave_ent                          entidad
0              1                   Aguascalientes
480            2                  Baja California
960            3              Baja California Sur
1440           4                         Campeche
2880           7                          Chiapas
3360           8                        Chihuahua
3840           9                 Ciudad de México
1920           5             Coahuila de Zaragoza
2400           6                           Colima
4320          10                          Durango
4800          11                       Guanajuato
5280          12                         Guerrero
5760          13                          Hidalgo
6240          14                          Jalisco
7200          16              Michoacán de Ocampo
7680          17                          Morelos
6720          15                           México
8160          18                          Nayarit
8640          19                       Nuevo León
9120          20                           Oaxaca
9600          21                           Puebla
10080         22                        Querétaro
10560         23                     Quintana Roo
11040         24                  San Luis Potosí
11520         25                          Sinaloa
12000         26                           Sonora
12480         27                          Tabasco
12960         28                       Tamaulipas
13440         29                         Tlaxcala
13920         30  Veracruz de Ignacio de la Llave
14400         31                          Yucatán
14880         32                        Zacatecas

Ahora Veamos todos los datos de delitos de una entidad en específico. Por ejemplo, Nuevo león

In [31]:
datos_long[datos_long['clave_ent'] == 19].sample(15)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia
39509,2017,19,Nuevo León,Evasión de presos,julio,0.0
39442,2017,19,Nuevo León,Contra el medio ambiente,octubre,0.0
8829,2015,19,Nuevo León,Falsificación,noviembre,55.0
147353,2024,19,Nuevo León,Violencia familiar,julio,0.0
70140,2019,19,Nuevo León,Amenazas,abril,266.0
131800,2023,19,Nuevo León,Narcomenudeo,febrero,585.0
131600,2023,19,Nuevo León,Contra el medio ambiente,mayo,5.0
54819,2018,19,Nuevo León,Daño a la propiedad,enero,708.0
24349,2016,19,Nuevo León,Otros delitos que atentan contra la libertad y...,agosto,35.0
39574,2017,19,Nuevo León,Fraude,octubre,503.0
131813,2023,19,Nuevo León,Otros delitos contra el patrimonio,julio,5.0
147062,2024,19,Nuevo León,Falsificación,diciembre,0.0
131742,2023,19,Nuevo León,Homicidio,junio,164.0
116307,2022,19,Nuevo León,Evasión de presos,enero,0.0
54871,2018,19,Nuevo León,Evasión de presos,marzo,2.0

In [40]:
datos_long[(datos_long['clave_ent'] > 19) &  (datos_long['clave_ent'] < 24) & (datos_long['tipo_de_delito'] == 'Homicidio')].sample(15)

        anio  clave_ent       entidad tipo_de_delito  nombre_mes  frecuencia
87105   2020         22     Querétaro      Homicidio   noviembre        37.0
70778   2019         20        Oaxaca      Homicidio   diciembre       181.0
101983  2021         21        Puebla      Homicidio       marzo       109.0
132704  2023         21        Puebla      Homicidio        mayo       114.0
87586   2020         23  Quintana Roo      Homicidio     octubre       106.0
118303  2022         23  Quintana Roo      Homicidio       marzo       122.0
147577  2024         20        Oaxaca      Homicidio      agosto         0.0
101497  2021         20        Oaxaca      Homicidio      agosto       142.0
71259   2019         21        Puebla      Homicidio       enero       131.0
40536   2017         21        Puebla      Homicidio       abril       136.0
9347    2015         20        Oaxaca      Homicidio  septiembre         0.0
56859   2018         23  Quintana Roo      Homicidio       enero        56.0
149020  2024         23  Quintana Roo      Homicidio     febrero       112.0
10787   2015         23  Quintana Roo      Homicidio  septiembre        51.0
86137   2020         20        Oaxaca      Homicidio      agosto       148.0

### Valores de fechas

Finalmente, queremos tener una columna "fecha". Actualmente tenemos el año y el nombre del mes, pero no tenemos como tal una columna que tenga un tipo de dato fecha. Eso hace que filtrar por fecha sea complicado.

Por ejemplo, si queremos conocer todos los homicidios de Oaxaca en enero 2024, haríamos lo siguiente:

In [41]:
datos_long[(datos_long.tipo_de_delito == "Homicidio") & (datos_long['entidad'] == 'Oaxaca') & (datos_long.anio == 2024)  & (datos_long.nombre_mes == "enero")]

        anio  clave_ent entidad tipo_de_delito nombre_mes  frecuencia
147579  2024         20  Oaxaca      Homicidio      enero       157.0

Creemos una columna de fecha. 

Primero tenemos que convertir el nombre de mes a un número, en donde 1 es enero, 2 febrero, etc.

In [43]:
datos_long.sample(2)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia
2218,2015,5,Coahuila de Zaragoza,Otros delitos contra el patrimonio,octubre,127.0
90330,2020,29,Tlaxcala,Corrupción de menores,junio,0.0

In [44]:
datos_long["nueva_columna"] = "dato vacío"
datos_long.sample(6)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,nueva_columna
16603,2016,3,Baja California Sur,Narcomenudeo,marzo,30.0,dato vacío
93149,2021,3,Baja California Sur,Abuso sexual,julio,19.0,dato vacío
42172,2017,24,San Luis Potosí,Trata de personas,febrero,0.0,dato vacío
59163,2018,28,Tamaulipas,Despojo,enero,57.0,dato vacío
59165,2018,28,Tamaulipas,Despojo,julio,38.0,dato vacío
54293,2018,18,Nayarit,Allanamiento de morada,julio,1.0,dato vacío

In [45]:
# Diccionario de ayuda para convertir
meses = {
    "enero": 1,
    "febrero": 2,
    "marzo": 3,
    "abril": 4,
    "mayo": 5,
    "junio": 6,
    "julio": 7,
    "agosto": 8,
    "septiembre": 9,
    "octubre": 10,
    "noviembre": 11,
    "diciembre": 12
}

datos_long['mes'] = datos_long['nombre_mes'].map(meses)
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,nueva_columna,mes
23634,2016,18,Nayarit,Delitos cometidos por servidores públicos,junio,1.0,dato vacío,6
127933,2023,11,Guanajuato,Incumplimiento de obligaciones de asistencia f...,agosto,265.0,dato vacío,8
43248,2017,27,Tabasco,Allanamiento de morada,abril,38.0,dato vacío,4
43058,2017,26,Sonora,Otros delitos que atentan contra la libertad p...,diciembre,6.0,dato vacío,12
43444,2017,27,Tabasco,Incesto,febrero,0.0,dato vacío,2

In [46]:
datos_long["frecuencia_mas_10"] = datos_long["frecuencia"] + 10
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,nueva_columna,mes,frecuencia_mas_10
145007,2024,15,México,Acoso sexual,septiembre,0.0,dato vacío,9,10.0
153157,2024,32,Zacatecas,Acoso sexual,agosto,0.0,dato vacío,8,10.0
110574,2022,7,Chiapas,Falsedad,junio,1.0,dato vacío,6,11.0
55321,2018,20,Oaxaca,Despojo,agosto,64.0,dato vacío,8,74.0
11043,2015,24,San Luis Potosí,Aborto,enero,0.0,dato vacío,1,10.0

In [47]:
datos_long["anio_mes"] = datos_long["anio"].astype(str) + datos_long["mes"].astype(str)
datos_long.sample(6)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,nueva_columna,mes,frecuencia_mas_10,anio_mes
53601,2018,16,Michoacán de Ocampo,Otros delitos contra la sociedad,noviembre,0.0,dato vacío,11,10.0,201811
11836,2015,25,Sinaloa,Otros delitos contra la sociedad,febrero,14.0,dato vacío,2,24.0,20152
138009,2023,32,Zacatecas,Incesto,noviembre,0.0,dato vacío,11,10.0,202311
56267,2018,22,Querétaro,Daño a la propiedad,septiembre,473.0,dato vacío,9,483.0,20189
84123,2020,16,Michoacán de Ocampo,Despojo,enero,63.0,dato vacío,1,73.0,20201
69327,2019,17,Morelos,Fraude,enero,121.0,dato vacío,1,131.0,20191

In [ ]:
# yyyy-mm-dd, yy-mm-dd, yymmdd, yyyy/dd/mm

In [48]:
# Agregamos la columna de fecha juntando el año y el mes
datos_long['fecha'] = pd.to_datetime(datos_long['anio'].astype(str) + datos_long['mes'].astype(str), format='%Y%m')
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,nueva_columna,mes,frecuencia_mas_10,anio_mes,fecha
55189,2018,19,Nuevo León,Violencia familiar,agosto,1558.0,dato vacío,8,1568.0,20188,2018-08-01
23667,2016,18,Nayarit,Evasión de presos,enero,0.0,dato vacío,1,10.0,20161,2016-01-01
100531,2021,18,Nayarit,Fraude,marzo,10.0,dato vacío,3,20.0,20213,2021-03-01
8985,2015,19,Nuevo León,Otros delitos que atentan contra la libertad p...,noviembre,178.0,dato vacío,11,188.0,201511,2015-11-01
99902,2021,17,Morelos,Amenazas,diciembre,381.0,dato vacío,12,391.0,202112,2021-12-01

In [51]:
# Eliminamos las columnas que ya no necesitamos
datos_long = datos_long.drop(columns=['nueva_columna'])
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,frecuencia,mes,fecha
137536,2023,31,Yucatán,Incumplimiento de obligaciones de asistencia f...,9.0,2,2023-02-01
46602,2018,2,Baja California,Acoso sexual,0.0,6,2018-06-01
141803,2024,8,Chihuahua,Feminicidio,0.0,9,2024-09-01
67924,2019,14,Jalisco,Incesto,0.0,2,2019-02-01
47370,2018,3,Baja California Sur,Otros delitos del Fuero Común,97.0,6,2018-06-01

Veamos los homicidios en oaxaca de enero 2024 a la fecha

In [52]:
datos_long[(datos_long.tipo_de_delito == "Homicidio") & (datos_long.clave_ent == 20) & (datos_long.fecha >= '2024-01-01')].sort_values('fecha')

        anio  clave_ent entidad tipo_de_delito  frecuencia  mes      fecha
147579  2024         20  Oaxaca      Homicidio       157.0    1 2024-01-01
147580  2024         20  Oaxaca      Homicidio       170.0    2 2024-02-01
147583  2024         20  Oaxaca      Homicidio       190.0    3 2024-03-01
147576  2024         20  Oaxaca      Homicidio       207.0    4 2024-04-01
147584  2024         20  Oaxaca      Homicidio         0.0    5 2024-05-01
147582  2024         20  Oaxaca      Homicidio         0.0    6 2024-06-01
147581  2024         20  Oaxaca      Homicidio         0.0    7 2024-07-01
147577  2024         20  Oaxaca      Homicidio         0.0    8 2024-08-01
147587  2024         20  Oaxaca      Homicidio         0.0    9 2024-09-01
147586  2024         20  Oaxaca      Homicidio         0.0   10 2024-10-01
147585  2024         20  Oaxaca      Homicidio         0.0   11 2024-11-01
147578  2024         20  Oaxaca      Homicidio         0.0   12 2024-12-01

Ya que tenemos muestros datos bien estructurados, los podemos guardar en nuestra computadora. Los guardaremos con el nombre "delitos.csv"

In [55]:
datos_long.to_csv('data/delitos.csv', index=False)

In [56]:
nuevo_df = pd.read_csv('data/delitos.csv')
nuevo_df.sample(10)

,anio,clave_ent,entidad,tipo_de_delito,frecuencia,mes,fecha
125158,2023,5,Coahuila de Zaragoza,Otros delitos que atentan contra la libertad y...,7.0,10,2023-10-01
140739,2024,6,Colima,Daño a la propiedad,250.0,1,2024-01-01
112964,2022,12,Guerrero,Extorsión,16.0,5,2022-05-01
115175,2022,16,Michoacán de Ocampo,Violación simple,30.0,9,2022-09-01
22527,2016,15,México,Violación simple,75.0,1,2016-01-01
63587,2019,5,Coahuila de Zaragoza,Homicidio,38.0,9,2019-09-01
117431,2022,21,Puebla,Otros delitos contra la familia,55.0,9,2022-09-01
32313,2017,4,Campeche,Evasión de presos,0.0,11,2017-11-01
55331,2018,20,Oaxaca,Despojo,58.0,9,2018-09-01
130435,2023,16,Michoacán de Ocampo,Otros delitos que atentan contra la libertad y...,28.0,3,2023-03-01